:root{
    --color-accent-bg-green:#9BF00B;
	--color-accent-bg-yellow:#ffb900;
	--color-button:#0067B8;
}

body, html {
    overflow-x: hidden;
}

main > a:first-of-type{
    display: flex;
    align-items: center;
    background-color: var(--color-accent-bg-green);
    color: var(--color-text);
    text-decoration: none;
    padding: 1em 1.5em 1em 1.5em;
    font-weight: 500;
    justify-content: center;
}

main > a:first-of-type::after{
    content: url("../images/arrow-right.png"); 
}

main section:first-of-type img{
    width: 100%;
}

h1{
    font-size: 1.5em;
    font-weight: 500;
}

h2{
    font-size: 1.3125em;
}

main > section:first-of-type ul{
    display: flex;
}

/* eerste card */
main > section:first-of-type ul li{
    display: grid;
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,.13);
    min-width: 100%;
    transition: 1s;
}

main > section:first-of-type ul li article{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main > section:first-of-type ul li p:first-of-type{
    margin: .3em 0 1.5em 0;
}

main > section:first-of-type ul li p:last-of-type{
    order: -10;
    display: block;
    background-color: var(--color-accent-bg-yellow);
    padding: .2em .5em;
    width: fit-content;
    font-weight: 500;
}

main > section:first-of-type ul li a{
    text-decoration: none;
    display: block;
    background-color: var(--color-button);
    color: #fff;
    width: fit-content;
    padding: .625em .75em;
    font-weight: 500;
}

main > section:first-of-type ul li img{
    order:-20;
}

main > section:first-of-type ul li:nth-of-type(2) h2{
    font-size: 1.5em;
    font-weight: 500;
}

.naarLinks{
    translate: -100%;
}

.naarRechts{
    translate: 100%;
}

/* buttons voor carrousel */
main section:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top:1em ;
}

main section:nth-of-type(3) img{
    width: 2.2em;
    order: -1;
}

main section:nth-of-type(3) ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

main section:nth-of-type(3) ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(3) ul li a{
    color: var(--color-button);
}

main section:nth-of-type(4){
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) )
}

main section:nth-of-type(4) article{
    box-shadow: 0 .1875em .4375em 0 rgba(0, 0, 0, .13), 0 .0625em .125em 0 rgba(0, 0, 0, .11);
    display: grid;
    grid-template-columns: 1.5em 1fr 1fr 1.5em;
    grid-template-rows: 1fr 1em max-content max-content max-content max-content 1em;
    margin: 1em;
    gap: .5em;
}

main section:nth-of-type(4) article img{
    grid-row-start: 1;
    grid-column: 1 / -1;
    width: 100%;
}

main section:nth-of-type(4) article h2{
    grid-column: 2 / 4;
    grid-row-start: 3;
}

main section:nth-of-type(4) article p{
    grid-column: 2 / 4;
    grid-row-start: 4;
}

main section:nth-of-type(4) article a{
    grid-column: 2 / 4;

}

main section:nth-of-type(4) article a:first-of-type{
    text-decoration: none;
    display: block;
    background-color: var(--color-button);
    color: #fff;
    width: fit-content;
    height: 2.75em;
    padding: .625em .75em;
    font-weight: 500;
    grid-row-start: 5;    
}

main section:nth-of-type(4) article a:nth-of-type(2){
    color: var(--color-button);
    display: flex;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
    grid-row-start: 6;
    white-space: nowrap;
    align-items: center;
}

main section:nth-of-type(4) article a:nth-of-type(2)::after{
    content: url("../images/arrow-right.png");
    filter: invert(25%) sepia(87%) saturate(1688%) hue-rotate(188deg) brightness(94%) contrast(101%);
}

@media (min-width: 450px) {
    main section:nth-of-type(4) article:first-of-type  a:last-of-type{
        grid-column: 3;
        grid-row-start: 5;
    }
}