body{
    background-color: var(--color-background-dark);
}

body, html {
    overflow-x: hidden;
}

main p a:first-of-type{
    display: flex;
    align-items: center;
    background-color: var(--color-accent-bg-green);
    color: var(--color-text);
    text-decoration: none;
    padding: 1em 1.5em 1em 1.5em;
    font-weight: 500;
    justify-content: center;
}

main > p a:first-of-type::after{
    content: url("../images/arrow-right.png"); 
}

main section:first-of-type img{
    width: 100%;
}   

/* buttons carrousel */
main > section:first-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

main > section:first-of-type > img{
    width: 10px;
}
main > section:first-of-type ul{
    display: flex;
    width: 100%;
}

/* eerste card */
main > section:first-of-type ul li{
    display: grid;
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,.13);
    min-width: 100%;
    transition: 1s;
}

main > section:first-of-type ul li div{
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
}

main > section:first-of-type ul li p:first-of-type{
    margin: .3em 0 1.5em 0;
    color: var(--color-text);
}

main > section:first-of-type ul li p:last-of-type{
    order: -10;
    background-color: var(--color-accent-bg-yellow);
    padding: .2em .5em;
    width: fit-content;
    font-weight: 500;
}

main > section:first-of-type ul li a{
    text-decoration: none;
    display: block;
    background-color: var(--color-button);
    color: #fff;
    width: fit-content;
    padding: .625em .75em;
    font-weight: 500;
}

main > section:first-of-type ul li img{
    order:-20;
}

main > section:first-of-type ul li h3{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-text);
}

.naarLinks{
    translate: -100%;
}

.naarRechts{
    translate: 100%;
}

main nav:nth-of-type(1) img{
    width: 2.2em;
    order: -1;
}

main nav:nth-of-type(1) ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

main nav:nth-of-type(1) ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main nav:nth-of-type(1) ul li a{
    color: var(--color-button);
}

/* cards */
main :is(section:nth-of-type(2), section:nth-of-type(3)){
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article{
    box-shadow: 0 .1875em .4375em 0 rgba(0, 0, 0, .13), 0 .0625em .125em 0 rgba(0, 0, 0, .11);
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: .5em;
    background-color: var(--color-background);
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article div{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 1em;
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article div h3{
    font-size: 1.3125em;
    font-weight: 550;
    flex-basis: 100%;
    color: var(--color-text);
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article div p{
    color: var(--color-text);
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article img{
    width: 100%;
    order: -10;
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article p:nth-of-type(2){
    order: -10;
    background-color: var(--color-accent-bg-yellow);
    padding: .2em .5em;
    width: fit-content;
    font-weight: 500;
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article a:first-of-type{
    text-decoration: none;
    display: block;
    background-color: var(--color-button);
    color: #fff;
    width: fit-content;
    height: fit-content;
    padding: .625em .75em;
    font-weight: 500;
}

main section:nth-of-type(2) article a:nth-of-type(2){
    color: var(--color-button);
    display: flex;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
    white-space: nowrap;
    align-items: center;
}

main :is(section:nth-of-type(2), section:nth-of-type(3)) article a:nth-of-type(2)::after{
    content: url("../images/arrow-right.png");
    filter: invert(25%) sepia(87%) saturate(1688%) hue-rotate(188deg) brightness(94%) contrast(101%);
}

/* tweede cards */
main section:nth-of-type(3){
    margin-top: 2em;
    position: relative;
}

main section:nth-of-type(3) h2{
    font-weight: 500;
    position: absolute;
    left: .75em;
    top: -1em;
    color: var(--color-text);
}

main section:nth-of-type(3) article a:nth-of-type(2){
    color: var(--color-button);
    display: flex;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
    align-items: center;
}
main section:nth-of-type(3) article:nth-of-type(2) div{
    height: 100%;
    justify-content: flex-start;
}

main section:nth-of-type(3) article:nth-of-type(2) div h3{
    height: fit-content; 
}

main section:nth-of-type(3) article:nth-of-type(2) div p{

    height: fit-content;
}

main section:nth-of-type(3) article:nth-of-type(2) a{
    align-self: flex-end;
}

main > a{
    margin: 3em 1em 3em auto;
    display: block;
    width: fit-content;
    padding: 1em;
    box-shadow: 0 .125em .25em 0 rgba(0, 0, 0, .13), 0 0 .0625em 0 rgba(0, 0, 0, .11);;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-background);
}

main > a::before{
    content: url("../images/arrow-up.png");
    margin-right: 1em;
}

@media (prefers-reduced-motion){
    main > section:first-of-type ul li{
        transition: 0s;
    }
}

@media (min-width:1080px) {
    section:nth-of-type(1) ul li {
        position: relative;
    }

    section:nth-of-type(1) ul li:nth-of-type(2) div{
        background-color: transparent;
    }
    
    section:nth-of-type(1) ul li div{
        position: absolute; 
        background-color: var(--color-background);
        width: 40vw;
        padding: 3em !important;
        left: 4em;
        top: 3em;
    }

    section:nth-of-type(1) ul li:nth-of-type(1) img{
        content: url("../images/banner-1080.avif");
    }
    section:nth-of-type(1) ul li:nth-of-type(2) img{
        content: url("../images/bannerv2-1080.avif");
    }
}

@media (min-width: 1430px){
    section:nth-of-type(1) ul li:nth-of-type(1) img{
        content: url("../images/banner-1436.avif");
    }
    section:nth-of-type(1) ul li:nth-of-type(2) img{
        content: url("../images/bannerv2-1436.avif");
    }

    section:nth-of-type(1) ul li div h3{
        font-size: 2.3125em;
    }
    
}

