/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
	font-family: heading;
	src: url(/fonts/fontawesome-webfont.woff2);
}

@font-face {
	font-family: bold;
	src: url(/fonts/bold);
}

@font-face {
	font-family: normal-text;
	src: url(/fonts/normal-text);
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
h1{
	font-family: 'bold';
}

video{
	height: 100%;
	width: 100%;
}

p{
	font-family: 'normal-text';
}

#twee{
	font-family: 'bold';
}