:root{
    --color-windows-button: #001968;
}

main > section:nth-of-type(1){
    text-align: center;
    align-items: center;
    background-image: linear-gradient( #CFE1FF -5.43%, #fff);
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main > section:nth-of-type(1) h1{
    font-size: 2.5em;
    font-weight: 500;

}

main > section:nth-of-type(1) p{
    font-size: 1.125em;

}   

main > section:nth-of-type(1) a:nth-of-type(1){
    background-color: var(--color-windows-button);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: .4em;
    display: block;
    width: fit-content;
    padding: .625em 3em;
}

main > section:nth-of-type(1) a:nth-of-type(2){
    text-decoration: none;
    color: var(--color-windows-button);
    font-weight: 500;
    display: flex;
}

main > section:nth-of-type(1) a:nth-of-type(2)::after{
    content: '';
    width: 20px;
    height: 24px;
    background-image: url(../images/arrow-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(14%) sepia(22%) saturate(7111%) hue-rotate(215deg) brightness(89%) contrast(118%);
}

main > section:nth-of-type(2){
    padding: 2.25em;
}

main > section:nth-of-type(2) ul{
    list-style-type: none;
}

main > section:nth-of-type(2) ul li{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main > section:nth-of-type(2) ul li h3{
    font-size: 1.5em;
    font-weight: 500;
}

main > section:nth-of-type(2) ul li img{
    width: 85%;
    margin: 0em auto;
    order: -10;
}

main > section:nth-of-type(2) ul li div{
    padding: 1em;
    border: 1px solid var(--color-windows-button);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
main > section:nth-of-type(2) ul li div h4{
    font-size: 1.3125em;
    font-weight: 500;
}

main > section:nth-of-type(2) ul li div a{
    color: var(--color-windows-button);
    text-decoration: none;
    font-weight: 500;
    display: flex;
}

main > section:nth-of-type(2) ul li div a::after{
    content: '';
    width: 20px;
    height: 24px;
    background-image: url(../images/arrow-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(14%) sepia(22%) saturate(7111%) hue-rotate(215deg) brightness(89%) contrast(118%);
}